# common
numpy
pandas
sklearn
scipy

#Visualization
matplotlib
Seaborn

#Dataset
python-mnist

#OpenCV
opencv-python

#Image
scikit-image
imutils

# parse HTML
#bs4
#lxml
#requests

# Zernike Descriptor
mahotas

#Other
imageio
IPython

#tensorflow
tensorflow